<h1>New Store</h1>

<%= form_with model: @store, url: stores_path do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>
  <div>
    <%= form.submit "Create Store" %>
  </div>
<% end %>

<%= link_to "Back to Stores", stores_path %>
