<h1>New Product</h1>

<%= form_for @product, url: products_path, method: :post, multipart: true do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <%= f.file_field :image %>


  <div class="field">
    <%= f.label :store_ids, "Select Stores" %><br>
    <% @stores.each do |store| %>
      <%= f.fields_for :product_stores_attributes, @product.product_stores.where(store_id: store.id).first_or_initialize do |ps| %>
        <%= ps.hidden_field :store_id, value: store.id %>
        <%= ps.label :price, "Price for #{store.name}" %>
        <%= ps.text_field :price %><br>
      <% end %>
    <% end %>
  </div>
  
  <div class="field">
    <%= f.label :store_ids, "Select Stores for Quantity" %><br>
    <% @stores.each do |store| %>
      <%= f.fields_for :quantities_attributes, @product.quantities.where(store_id: store.id).first_or_initialize do |q| %>
        <%= q.hidden_field :store_id, value: store.id %>
        <%= q.label :quantity, "Quantity for #{store.name}" %>
        <%= q.number_field :quantity %><br>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= f.submit "Create Product" %>
  </div>
<% end %>

<%= link_to "Back to Products", products_path %>


